pandas
numpy
scikit-learn
imbalanced-learn
xgboost
tensorflow
joblib
fastapi
uvicorn
python-multipart
pymongo
motor
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
web3
pycryptodome
httpx